@foreach (var form in ViewBag.allForms)
{
    <div id="@form.FId" class="checkboxItem" onclick="selectedCheckbox(this, event);">
        @{
            bool isChecked = false; // 将 isChecked 的定义移动到这里
            if (Model.TVproductFormsRequireds != null)
            {
                foreach (var item in Model.TVproductFormsRequireds)
                {
                    if (item.FFormId == form.FId)
                    {
                        isChecked = true;
                        break;
                    }
                }
            }
        }
        <input type="checkbox" name="formsrequireds" value="@($"{Model.FId}, {form.FId}")"
        @(isChecked ? "checked" : "") />
        @form.FFormName
        <br />
    </div>
}