@model ICollection<prjTravelPlatformV3.Models.TVtravelerInfo>


@* <div class="row">
    <div class="col-md-4">
        <form asp-action="_TravelerInfoPartial">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FOrderId" class="control-label"></label>
                <select asp-for="FOrderId" class ="form-control" asp-items="ViewBag.FOrderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FGender" class="control-label"></label>
                <input asp-for="FGender" class="form-control" />
                <span asp-validation-for="FGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FBirthDate" class="control-label"></label>
                <input asp-for="FBirthDate" class="form-control" />
                <span asp-validation-for="FBirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div> *@


@* <h1>@ViewBag.formId</h1> *@


@{
    var index = 0;
}


@foreach (var travelerInfo in Model)
{
    <tr>
        <td><input asp-for="@travelerInfo.FName" class="form-control"></td>
        <td>
            @if (travelerInfo.FGender.HasValue)
            {
                if (travelerInfo.FGender.Value)
                {
                    <input type="radio" id="male_@index" name="Gender_@index" value="True" onchange="changeGender(event)" checked />
                    <label for="male_@index">男</label>
                    <input type="radio" id="female_@index" name="Gender_@index" value="False" onchange="changeGender(event)" />
                    <label for="female_@index">女</label>
                }
                else
                {
                    <input type="radio" id="male_@index" name="Gender_@index" value="True" onchange="changeGender(event)" />
                    <label for="male_@index">男</label>
                    <input type="radio" id="female_@index" name="Gender_@index" value="False" onchange="changeGender(event)" checked />
                    <label for="female_@index">女</label>
                }
            }
            else
            {
                <input type="radio" id="male_@index" name="Gender_@index" value="True" onchange="changeGender(event)" />
                <label for="male_@index">男</label>
                <input type="radio" id="female_@index" name="Gender_@index" value="False" onchange="changeGender(event)" />
                <label for="female_@index">女</label>
            }
        </td>
        <td class="d-none"><input asp-for="@travelerInfo.FGender" class="form-control"></td>
        <td><input asp-for="@travelerInfo.FBirthDate" class="form-control" onfocus="showDatePicker(this)"></td>
    </tr>
    index++;
}